.logon-container {
  padding: 5mm;
  flex-direction: column;
}

/* .back-image h2 {
  font-size: large;
  position: absolute;
  bottom: 33%;
  left: 43%;
} */

.print {
}

.button-container {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.back-image {
  width: 300mm;
  height: 210mm;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}
